@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@import "tailwindcss";

body {
  background-color: #d7ec96;
  font-family: "Roboto", sans-serif;
}

button {
  font-weight: 600;
  color: #ffffff;
  background-color: #234036;
  border: none;
  padding: 0.75em 1.5em;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #304840;
}

.about-text,
.about-team {
  background-color: #304840;

  margin-left: 7.2rem;
  margin-right: 7.2rem;
  margin-top: 7.2rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  color: #ffffff;
}

.about-content,
.team-content {
  font-size: 1.2rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.about-heading {
  margin-top: 1.2rem;
  font-size: 4rem;
}

.positive-result {
  margin: 7.2rem 7.2rem;
}

.result-heading {
  font-size: 4rem;
}

.steps {
  font-size: 2rem;
  margin-left: 2rem;
  margin-top: 1.2rem;
}

.positive-result {
  background-color: #a4e9cd;
}

.steps li {
  color: #234036;
  font-size: 2rem;
}

.methods {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.steps-header {
  font-size: 3.6rem;
}
